@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

:root {
  --color-bg: #eef0f1;
  --color-text: #08090a;
  --color-blue: #3b49df;
  --color-red: #df3b3b;
  --color-green: #3bdf72;
  --color-gray: #b5bdc4;
}

html {
    max-width: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
	touch-action: manipulation;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    min-height: 100vh;
    font-display: fallback;
    max-width:100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 { margin: 0; }

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }

div {
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

img {max-width: 100%;}

input {
    display: inline-block;
    outline: none;
    border: none;
    font-size: 1.5rem;
    width: 100%;
    padding: 5px 10px;
}

label, .label {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #969da2;
}

fieldset {
    border: none;
    padding: 1rem 0;
    font-size: 1.25rem;
}

code {
    overflow-x: scroll;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

small {
    display: block;
    font-size: 15px;
}

input[type="file"] {
    display: none;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}
@media (max-width: 767px) {
    .container { padding-left: 20px; padding-right: 20px; }
}

.shadow {
    box-shadow: 0 6px 24px rgba(0,0,0,.06), 0 2px 6px rgba(31,26,34,.06);
}

.bold {
    font-weight: 700;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 32px 32px;
    box-shadow: 0 6px 24px rgba(0,0,0,.06), 0 2px 6px rgba(31,26,34,.06);
}

.error {
    color: #df3b3b;
}

.purple {
    color: #7E69FD;
}

i {
    font-size: 24px;
    line-height: 1;
}
.icon-l {
    font-size: 32px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.clickable {
    cursor:pointer;
}

.center-y {
    top: 50%;
    transform: translateY(-50%);
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mb-8 { margin-bottom: 8px; }
.mb-16 { margin-bottom: 16px; }
.mb-24 { margin-bottom: 24px; }
.mb-32 { margin-bottom: 32px; }
.mb-48 { margin-bottom: 48px; }
.ml-8 { margin-left: 8px; }
.ml-16 { margin-left: 16px; }
.ml-24 { margin-left: 24px; }
.ml-32 { margin-left: 32px; }
.ml-48 { margin-left: 48px; }
.mr-8 { margin-right: 8px; }
.mr-16 { margin-right: 16px; }
.mr-24 { margin-right: 24px; }
.mr-32 { margin-right: 32px; }
.mr-48 { margin-right: 48px; }

.pb-8 { padding-bottom: 8px; }
.pb-16 { padding-bottom: 16px; }
.pb-24 { padding-bottom: 24px; }
.pb-32 { padding-bottom: 32px; }
.pb-48 { padding-bottom: 48px; }
.pl-8 { padding-left: 8px; }
.pl-16 { padding-left: 16px; }
.pl-24 { padding-left: 24px; }
.pl-32 { padding-left: 32px; }
.pl-48 { padding-left: 48px; }
.pr-8 { padding-right: 8px; }
.pr-16 { padding-right: 16px; }
.pr-24 { padding-right: 24px; }
.pr-32 { padding-right: 32px; }
.pr-48 { padding-right: 48px; }
.pt-8 { padding-top: 8px; }
.pt-16 { padding-top: 16px; }
.pt-24 { padding-top: 24px; }
.pt-32 { padding-top: 32px; }
.pt-48 { padding-top: 48px; }
.p-8 { padding: 8px; }
.p-16 { padding: 16px; }
.p-24 { padding: 24px; }
.p-32 { padding: 32px; }
.p-48 { padding: 48px; }